<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Калькулятор</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <script src="vue.min.js"></script>
</head>

<body>

<div id="calculator">
    <div class="container">
        <form action="">
            <h1>Калькулятор</h1>
            <p>Для менеджера</p>

            <label class="label" for="colors">Цвет</label>
            <select id="colors" type="number" name="colors" class="currency" v-model.number="selectedColor">
                <option v-for="color in colors" v-bind:value="color.value">
                    {{ color.text }}
                </option>
            </select>
            <br/>
            <label class="label" for="wides">Толщина</label>
            <select id="wides" type="number" name="wides" class="currency" v-model.number="selectedWide">
                <option v-for="wide in wides" v-bind:value="wide.value">
                    {{ wide.text }}
                </option>
            </select>
            <br/>

            <label class="label" for="weight">Масса</label>
            <input id="weight" type="number" name="weight" class="currency" v-model.number="weight"/>
            <br/>

            <input type="radio" id="tu" value="tu" v-model.number="gost">
            <label for="tu">ТУ</label>
            <br>
            <input type="radio" id="gost" value="gost" v-model.number="gost">
            <label for="gost">ГОСТ</label>
        </form>
        <div class="payment">{{ final }}</div>
    </div>
</div>

<script>
    'use strict';

    var calculator = new Vue({
            el: '#calculator',
            data: {
                selectedColor: '',
                colors: [
                    {
                        text: '1001',
                        value: '4.9'
                    },
                    {
                        text: '1003',
                        value: '6'
                    },
                    {
                        text: '1004',
                        value: '7.5'
                    },
                    {
                        text: '1006',
                        value: '8'
                    },
                    {
                        text: '1011',
                        value: '4.6'
                    },
                    {
                        text: '1013',
                        value: '4'
                    },
                    {
                        text: '1014',
                        value: '4.1'
                    },
                    {
                        text: '1015',
                        value: '4.1'
                    },
                    {
                        text: '1016',
                        value: '11.77'
                    },
                    {
                        text: '1017',
                        value: '5.95'
                    },
                    {
                        text: '1018',
                        value: '6.6'
                    },
                    {
                        text: '1019',
                        value: '4.35'
                    },
                    {
                        text: '1021',
                        value: '6.32'
                    },
                    {
                        text: '1028',
                        value: '9.2'
                    },
                    {
                        text: '1034',
                        value: '6.85'
                    },
                    {
                        text: '1035',
                        value: '8.7'
                    },
                    {
                        text: '1036',
                        value: '9.3'
                    },
                    {
                        text: '1037',
                        value: '7.53'
                    },
                    {
                        text: '2000',
                        value: '9.1'
                    },
                    {
                        text: '2001',
                        value: '6.3'
                    },
                    {
                        text: '2002',
                        value: '7.2'
                    },
                    {
                        text: '2003',
                        value: '8.1'
                    },
                    {
                        text: '2004',
                        value: '9.6'
                    },
                    {
                        text: '2008',
                        value: '8.5'
                    },
                    {
                        text: '2009',
                        value: '8.4'
                    },
                    {
                        text: '2010',
                        value: '7.5'
                    },
                    {
                        text: '2011',
                        value: '8.2'
                    },
                    {
                        text: '2012',
                        value: '6.55'
                    },
                    {
                        text: '3001',
                        value: '7.6'
                    },
                    {
                        text: '3002',
                        value: '7.2'
                    },
                    {
                        text: '3003',
                        value: '7.9'
                    },
                    {
                        text: '3004',
                        value: '6.15'
                    },
                    {
                        text: '3005',
                        value: '5.3'
                    },
                    {
                        text: '3007',
                        value: '6.58'
                    },
                    {
                        text: '3009',
                        value: '4.46'
                    },
                    {
                        text: '3011',
                        value: '5.2'
                    },
                    {
                        text: '3012',
                        value: '5.1'
                    },
                    {
                        text: '3013',
                        value: '5.9'
                    },
                    {
                        text: '3016',
                        value: '7.1'
                    },
                    {
                        text: '3020',
                        value: '7.9'
                    },
                    {
                        text: '3022',
                        value: '7.15'
                    },
                    {
                        text: '3031',
                        value: '7.55'
                    },
                    {
                        text: '4001',
                        value: '7.75'
                    },
                    {
                        text: '5002',
                        value: '5.8'
                    },
                    {
                        text: '5003',
                        value: '5.7'
                    },
                    {
                        text: '5004',
                        value: '5.8'
                    },
                    {
                        text: '5005',
                        value: '4.55'
                    },
                    {
                        text: '5007',
                        value: '5.04'
                    },
                    {
                        text: '5008',
                        value: '5.8'
                    },
                    {
                        text: '5010',
                        value: '5.2'
                    },
                    {
                        text: '5012',
                        value: '5.4'
                    },
                    {
                        text: '5015',
                        value: '4.8'
                    },
                    {
                        text: '5017',
                        value: '5.17'
                    },
                    {
                        text: '5018',
                        value: '5.3'
                    },
                    {
                        text: '5019',
                        value: '4'
                    },
                    {
                        text: '5021',
                        value: '5.2'
                    },
                    {
                        text: '5023',
                        value: '5.3'
                    },
                    {
                        text: '5024',
                        value: '5.69'
                    },
                    {
                        text: '6000',
                        value: '4.5'
                    },
                    {
                        text: '6001',
                        value: '6.1'
                    },
                    {
                        text: '6002',
                        value: '4.5'
                    },
                    {
                        text: '6003',
                        value: '4.95'
                    },
                    {
                        text: '6005',
                        value: '4.4'
                    },
                    {
                        text: '6006',
                        value: '5.1'
                    },
                    {
                        text: '6009',
                        value: '5.5'
                    },
                    {
                        text: '6010',
                        value: '5.15'
                    },
                    {
                        text: '6011',
                        value: '5.87'
                    },
                    {
                        text: '6018',
                        value: '5'
                    },
                    {
                        text: '6019',
                        value: '5'
                    },
                    {
                        text: '6020',
                        value: '5.89'
                    },
                    {
                        text: '6024',
                        value: '5.8'
                    },
                    {
                        text: '6026',
                        value: '5.7'
                    },
                    {
                        text: '6027',
                        value: '5.3'
                    },
                    {
                        text: '6028',
                        value: '5.63'
                    },
                    {
                        text: '6029',
                        value: '5.4'
                    },
                    {
                        text: '6033',
                        value: '5.3'
                    },
                    {
                        text: '6034',
                        value: '5.1'
                    },
                    {
                        text: '6037',
                        value: '7.91'
                    },
                    {
                        text: '7000',
                        value: '4.5'
                    },
                    {
                        text: '7001',
                        value: '4.25'
                    },
                    {
                        text: '7002',
                        value: '5.65'
                    },
                    {
                        text: '7004',
                        value: '4.1'
                    },
                    {
                        text: '7005',
                        value: '4.3'
                    },
                    {
                        text: '7006',
                        value: '4.3'
                    },
                    {
                        text: '7011',
                        value: '4.5'
                    },
                    {
                        text: '7012',
                        value: '4.4'
                    },
                    {
                        text: '7015',
                        value: '4.4'
                    },
                    {
                        text: '7016',
                        value: '4.3'
                    },
                    {
                        text: '7021',
                        value: '5.53'
                    },
                    {
                        text: '7024',
                        value: '4.3'
                    },
                    {
                        text: '7030',
                        value: '5.7'
                    },
                    {
                        text: '7031',
                        value: '4.4'
                    },
                    {
                        text: '7032',
                        value: '4.3'
                    },
                    {
                        text: '7035',
                        value: '4.1'
                    },
                    {
                        text: '7036',
                        value: '4.4'
                    },
                    {
                        text: '7037',
                        value: '4.2'
                    },
                    {
                        text: '7038',
                        value: '4.3'
                    },
                    {
                        text: '7040',
                        value: '4.3'
                    },
                    {
                        text: '7042',
                        value: '4.3'
                    },
                    {
                        text: '7043',
                        value: '4.3'
                    },
                    {
                        text: '7044',
                        value: '4.4'
                    },
                    {
                        text: '7045',
                        value: '4.45'
                    },
                    {
                        text: '7047',
                        value: '4.4'
                    },
                    {
                        text: '7048',
                        value: '7.8'
                    },
                    {
                        text: '8001',
                        value: '5.3'
                    },
                    {
                        text: '8002',
                        value: '4.4'
                    },
                    {
                        text: '8003',
                        value: '5.82'
                    },
                    {
                        text: '8004',
                        value: '5.78'
                    },
                    {
                        text: '8011',
                        value: '5.3'
                    },
                    {
                        text: '8014',
                        value: '4.5'
                    },
                    {
                        text: '8017',
                        value: '4.1'
                    },
                    {
                        text: '8019',
                        value: '5.2'
                    },
                    {
                        text: '8022',
                        value: '4.7'
                    },
                    {
                        text: '8023',
                        value: '6.58'
                    },
                    {
                        text: '8024',
                        value: '4.3'
                    },
                    {
                        text: '8025',
                        value: '4.8'
                    },
                    {
                        text: '8028',
                        value: '5.6'
                    },
                    {
                        text: '9001',
                        value: '4.15'
                    },
                    {
                        text: '9002',
                        value: '3.9'
                    },
                    {
                        text: '9003',
                        value: '3.9'
                    },
                    {
                        text: '9004',
                        value: '4.7'
                    },
                    {
                        text: '9005',
                        value: '4.6'
                    },
                    {
                        text: '9006',
                        value: '4.93'
                    },
                    {
                        text: '9007',
                        value: '5.9'
                    },
                    {
                        text: '9010',
                        value: '3.95'
                    },
                    {
                        text: '9011',
                        value: '5.2'
                    },
                    {
                        text: '9016',
                        value: '3.95'
                    },
                    {
                        text: '9018',
                        value: '4.2'
                    }
                ],
                selectedWide: '',
                wides: [
                    {
                        text: '0.35',
                        value: '52000'
                    },
                    {
                        text: '0.38',
                        value: '52000'
                    },
                    {
                        text: '0.4',
                        value: '51300'
                    },
                    {
                        text: '0.43',
                        value: '49700'
                    },
                    {
                        text: '0.45',
                        value: '49400'
                    },
                    {
                        text: '0.47',
                        value: '49400'
                    },
                    {
                        text: '0.5',
                        value: '48300'
                    },
                    {
                        text: '0.55',
                        value: '48300'
                    },
                    {
                        text: '0.57',
                        value: '48300'
                    },
                    {
                        text: '0.6',
                        value: '48100'
                    },
                    {
                        text: '0.65',
                        value: '48100'
                    },
                    {
                        text: '0.7',
                        value: '48100'
                    },
                    {
                        text: '0.75',
                        value: '48100'
                    },
                    {
                        text: '0.8',
                        value: '46700'
                    },
                    {
                        text: '0.9',
                        value: '466'
                    },
                    {
                        text: '1',
                        value: '466'
                    }
                ],
                weight: '',
                gost: 'tu'
            },
            computed: {
                final: function () {
                    var rate = 65, // Курс валюты
                        ratePlus = 1.18,
                        color = this.selectedColor,
                        wide = this.selectedWide,
                        weight = this.weight,
                        gost = this.gost,

                        gruntKG = 4.31,
                        emalKG = 3.42;

                    var RAL = rate * color * ratePlus;
                    var grunt = rate * gruntKG * ratePlus;
                    var emal = rate * emalKG * ratePlus;

                    if (gost == 'tu') {
                        var RALkgm = 0.038;
                        var grunhkgm = 0.013;
                        var emailkgm = 0.0195;
                    }
                    if (gost == 'gost') {
                        var RALkgm = 0.055;
                        var grunhkgm = 0.025;
                        var emailkgm = 0.0195;
                    }

                    var pogMETR = 1000 / (0.57 * 1.25 * 7.8 * 0.985);
                    var RALkgt = (RALkgm * 1000) / (7.8 * 0.57);
                    var grunhkgt = (grunhkgm * 1000) / (7.8 * 0.57);
                    var emailkgt = (emailkgm * 1000) / (7.8 * 0.57);

                    var RALCostt = RALkgt * RAL;
                    var gruntCostt = grunhkgt * grunt;
                    var emalCostt = emailkgt * emal;

                    var allNDS = RALCostt + gruntCostt + emalCostt;
                    var premiaHand = 22.57;
                    var premia = premiaHand * pogMETR;
                    var emal65 = color * 65 * rate;
                    var anotherColor = emal65 / weight;

                    var preFinal = allNDS + premia + anotherColor;
                    var final = wide + preFinal + 1200 + 2000;

                    return Math.round(final);
                }
            }
        })
    ;
</script>

</body>

</html>